<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Pathology Lab</a>
    </div>
    <ul class="nav navbar-nav">
    	<li ui-sref-active="active">
        	<a  ui-sref="patients">
                Patients
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="tests">
                Tests
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="reports">
                Reports
            </a>
        </li>
    </ul>
  </div>
</nav>