<div class="container">
    <div class="jumbotron">
        <h1>
            Welcome Operator {{ operatorInfo.firstName }}!
        </h1>
        <h3>
            Where would you like to go?
        </h3>
        <div class="list-group">
            <a class="list-group-item" ui-sref="patients">
                Patients
            </a>
            <a class="list-group-item" ui-sref="tests">
                Tests
            </a>
            <a class="list-group-item" ui-sref="reports">
                Reports
            </a>
        </div>
    </div>
</div>
