<button ui-sref="patientdash">Back</button>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">
                Report for {{ reportDetails.patientFirstName }} by {{ reportDetails.doctorName }}
            </h1>
        </div>
        <div class="panel-body">
            <div class="well">
                <h3>
                    Diagnosis
                </h3>
                <p>
                    {{ reportDetails.diagnosis }}
                </p>
                <hr/>
                <h3>
                    Microscopic Exam
                </h3>
                <p>
                    {{ reportDetails.microscopicExam }}
                </p>
                <hr/>
                <h3>
                    Gross Exam
                </h3>
                <p>
                    {{ reportDetails.grossExam }}
                </p>
                <hr/>
                <h3>
                    Other Comments
                </h3>
                <p>
                    {{ reportDetails.otherComments }}
                </p>
                <hr/>
            </div>
        </div>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tests
                </div>
                <div class="panel-body">
                    <uib-accordion>
                        <uib-accordion-group ng-repeat="test in reportDetails.tests">
                            <uib-accordion-heading>
                                {{ test.testTypeName }}
                            </uib-accordion-heading>
                            <p ng-repeat="field in test.fields">
                                {{ field.testFieldName }} -
                                <mark>
                                    {{ field.value }}
                                </mark>
                            </p>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
