<nav-bar>
</nav-bar>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Reports
             <button class="btn btn-primary btn-xs pull-right" ng-click="addReportShow = !addReportShow">
                <span ng-if="!addReportShow">
                    Add New Report
                </span>
                <span ng-if="addReportShow">
                    Hide
                </span>
            </button>
        </div>
        <div class="panel-body">
            <div class="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchReportsText"/>
                </div>
            </div>
            <div class="pull-right">
               
            </div>
            <div class="well" ng-if="addReportShow">
                <form class="form"  ng-submit="addReport(newReport)">
                    <div class="form-group">
                        <div class="input-group">
                            <input  type="text"  uib-typeahead="patient as patient.firstName+' (' + patient.emailAddress+')' for patient in patientList | filter:$viewValue | limitTo:8"  ng-model="newReport.patient"  class="form-control" placeholder = "Patient Name" required/>
                            <span class="input-group-addon">
                                Patient Name
                            </span>
                        </div>
                        <div class="input-group">
                            <input type="text" ng-model="newReport.doctorName" class="form-control" required/>
                            <span class="input-group-addon">
                                Doctor's Name
                            </span>
                        </div>
                        <div class="input-group">
                            <textarea  ng-model="newReport.diagnosis" class="form-control">
                            </textarea>
                            <span class="input-group-addon">
                                Diagnosis
                            </span>
                        </div>
                        <div class="input-group">
                            <textarea  ng-model="newReport.microscopicExam" class="form-control">
                            </textarea>
                            <span class="input-group-addon">
                                Microscopic Exam
                            </span>
                        </div>
                        <div class="input-group">
                            <textarea  ng-model="newReport.grossExam" class="form-control">
                            </textarea>
                            <span class="input-group-addon">
                                Gross Exam
                            </span>
                        </div>
                        <div class="input-group">
                            <textarea  ng-model="newReport.otherComments" class="form-control">
                            </textarea>
                            <span class="input-group-addon">
                                Other Comments
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Add
                    </button>
                </form>
            </div>
            <uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" dismiss-on-timeout="alert.timeout">
                {{ alert.msg }}
            </uib-alert>
            <table class="table table-striped table-hover">
                <thead>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Doctor
                    </th>
                    <th>
                        Diagnosis
                    </th>
                    <th>
                        Microscopic Exam
                    </th>
                    <th>
                        Gross Exam
                    </th>
                    <th>
                        Other Comments
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Actions
                    </th>
                </thead>
                <tbody>
                    <tr  ng-repeat="report in reportList | filter:searchReportsText">
                        <td>
                            {{ report.patientFirstName }} {{ report.patientLastName }}
                        </td>
                        <td>
                            <span ng-if="!report.$edit">{{ report.doctorName }}</span>
                            <input ng-if="report.$edit" type="text" ng-model="report.edit.doctorName" class="form-control" />
                        </td>
                        <td>
                            <span ng-if="!report.$edit">{{ report.diagnosis }}</span>
                            <textarea ng-model="report.edit.diagnosis" ng-if="report.$edit" class="form-control"></textarea>
                        </td>
                        <td>
                            <span ng-if="!report.$edit">{{ report.microscopicExam }}</span>
                            <textarea ng-model="report.edit.microscopicExam" ng-if="report.$edit" class="form-control"></textarea>
                        </td>
                        <td>
                            <span ng-if="!report.$edit">{{ report.grossExam }}</span>
                            <textarea ng-model="report.edit.grossExam" ng-if="report.$edit" class="form-control"></textarea>
                        </td>
                        <td>
                            <span ng-if="!report.$edit">{{ report.otherComments }}</span>
                            <textarea ng-model="report.edit.otherComments" ng-if="report.$edit" class="form-control"></textarea>
                        </td>
                        <td>
                            {{ report.status }}
                            <button class="btn btn-xs btn-success" type="button" ng-if="report.status=='Draft'" ng-click="publishReport(report)" ng-if="!report.$edit">
                                Publish
                            </button>
                        </td>
                        <td>
                            <div class="btn-group" ng-if="report.$edit">
                                <button class="btn btn-success btn-xs" ng-click="updateReport(report)">Save</button>
                                <button class="btn btn-default btn-xs" ng-click="closeEditReport(report)">Cancel</button>
                            </div>
                            <div class="btn-group" ng-if="!report.$edit">
                                <a class="btn btn-primary btn-xs" ui-sref="reportdetails({reportId:report.reportId})">
                                    View
                                </a>
                                <button class="btn btn-default btn-xs" ng-click="editReport(report)">
                                    Edit
                                </button>
                                <button class="btn btn-danger btn-xs" ng-click="deleteReport(report)">
                                    Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
